
.popup {
    position: absolute;
    width: 110vh;
    height: 70vh;
    left:-50vh;
    top: 20vh;
    display:inline-block;
    pointer-events: none;
}
.popuptext {
    pointer-events: auto;
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the popup */
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    font-size: 30px;
}

span.popuptext{
    font-size: 20px;
}

.popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.show {
    visibility: visible;
    opacity: 1;
}
.close, .back {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: none;
    color: #fff;
}
.back {
    right: 50px; /* Adjust positioning for the 'Back' button */
}

.flag{
    height:10px;
    width:15px;
    display: inline;
}



#start-popup-fixed{
    position: absolute;
    left: 50vw;
    top: 50vh;
    width: 110vh;
    height: 90vh;
    transform: translate(-50%,-50%);
    background-image: url("../startpopup.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 10px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hidden{
    visibility: hidden;
  }
  p{
    padding: none;
    margin: none;
    font-size: 20px;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
  }

  .imag{
    border:none;
    width: 750px;
    height: 250px;
  }